.header__lang-link {
    margin: 0;
    padding: 0;
    color: var(--clr-primary);
    line-height: 28px;
    text-decoration: none;
    font-size: var(--fs-500);
    opacity: 1;
    transition: opacity 150ms ease-in;
    box-sizing: border-box;
}

.header__lang-link:hover {
    opacity: .8;
}

@media (max-width: 767px) {
    .header__lang-link {
        font-size: var(--fs-400);
        line-height: 20px;
    }
}