.place__title {
    grid-area: title;
    font-weight: var(--fw-black);
    font-size: var(--fs-800);
    max-width: 460px;
    line-height: 106%;
    margin: 0;
}

@media (max-width: 1024px) {
    .place__title {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .place__title {
        padding-inline: 16px;
        line-height: 110%;
        font-size: 32px;
    }
}