.places {
    margin: 0;
    padding: 0;
    --width: 984px;
    --padding: 24px; 

    display: grid;
    width: min(var(--width), 100% - var(--padding));
    gap: 80px;
    margin-inline: auto;
    margin-bottom: 92px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .places {
        --width: 928px;
    }
}

@media (max-width: 768px) {
    .places {
        --padding: 0;

        padding-inline: 24px;
        margin-bottom: 90px;
        gap: 73px;
    }
}

@media (max-width: 320px) {
    .places {
        padding-inline: 0;
        gap: 50px;
    }
}