.lead {
    --width: 984px;
    --padding: 0;

    width: min(var(--width), 100% - var(--padding));
    margin: 0 auto;
    padding: 0 0 95px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .lead {
        padding: 0 48px 92px;
    }
}

@media (max-width: 768px) {
    .lead {
        padding: 0 0 88px;
    }
}

@media (max-width: 320px) {
    .lead {
        padding-bottom: 64px;
    }
}