/* ------------------------------------------- */
/* Reset and normalize
/* ------------------------------------------- */

@import url(../vendor/reset.css);

/* ------------------------------------------- */
/* Custom variables
/* ------------------------------------------- */

:root {
    --ff-primary: 'Inter', sans-serif;

    --bg-primary: #333;
    --clr-primary: #fff;

    --clr-accent: #AAA;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-900: clamp(24px, 10vw, 96px);
    --fs-800: 72px;
    --fs-700: clamp(32px, 7vw, 54px);
    --fs-500: 24px;
    --fs-400: 18px;
    --fs-300: 16px;
    --fs-250: 14px;
    --fs-200: 12px;
    --fs-100: 10px;

    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
    --z-400: 400;
    --z-500: 500;
}

/* ------------------------------------------- */
/* Utility class
/* ------------------------------------------- */

.container {
    --width: 984px;
    --padding: 16px;

    width: min(var(--width), 100% - var(--padding));
    margin-inline: auto;
}

/* ------------------------------------------- */
/* Body styling
/* ------------------------------------------- */

body {
    background-color: var(--bg-primary);
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

/* ------------------------------------------- */
/* Main section
/* ------------------------------------------- */

.main {
    display: grid;
}

/* ------------------------------------------- */
/* Header section
/* ------------------------------------------- */

.header {
    --width: 1184px;
    --padding: 24px;

    width: min(var(--width), 100%);
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
}

.header__link-list {
    display: flex;
    gap: 19px;
    list-style: none;
}

.header__lang-link {
    color: var(--clr-primary);
    text-decoration: none;
    font-size: var(--fs-500);
    opacity: .7;
    transition: opacity 150ms ease-in;
}

.header__lang-link:hover {
    opacity: 1;
}

.header__lang-link[aria-selected="true"] {
    text-decoration: underline;
    opacity: 1;
}

@media (max-width: 768px) {
    .header {
        --padding: 16px;
    }
}

/* ------------------------------------------- */
/* Lead section
/* ------------------------------------------- */

.lead {
    --width: 984px;
    --padding: 16px;

    width: min(var(--width), 100%);
    margin-inline: auto;
    padding-bottom: clamp(64px, 5vw, 92px);
}

.lead__title {
    margin: 0;
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    line-height: 104%;
    text-align: center;
    padding-bottom: clamp(16px, 3vw, 32px);
    padding-inline: var(--padding);
}

.lead__subtitle {
    margin: 0;
    font-size: clamp(16px, 3vw, 24px);
    line-height: 120%;
    text-align: center;
    padding-bottom: clamp(40px, 5vw, 64px);
    padding-inline: var(--padding);
}

.lead__image {
    width: min(var(--width), 100%);
}

.lead__caption {
    font-size: var(--fs-100);
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 8px;
}

@media (max-width: 1024px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 768px) {
    .lead {
        --padding: 16px;
    }

    .lead__title {
        line-height: 110%;
    }

    .lead__subtitle {
        line-height: 125%;
    }

    .lead__caption {
        padding-left: 16px;
    }
}

/* ------------------------------------------- */
/* Intro section
/* ------------------------------------------- */

.intro {
    --width: 984px;
    --padding: 24px;

    width: min(var(--width), 100% - var(--padding));
    margin-inline: auto;
    padding-bottom: 88px;
}

.intro__title {
    margin: 0;
    padding-bottom: 40px;
    font-weight: var(--fw-black);
    font-size: var(--fs-700);
    line-height: 107%;
}

.intro__text {
    margin: 0;
    padding-bottom: 33px;
    max-width: 690px;
    font-size: var(--fs-300);
    line-height: 163%;
}

.intro__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-200);
    line-height: 150%;
}

.intro__list-strong {
    font-weight: var(--fw-bold);
}

@media (max-width: 768px) {
    .intro__title {
        line-height: 109%;
    }
}

/* ------------------------------------------- */
/* Photo grid section
/* ------------------------------------------- */

.photo-grid {
    --width: 1184px;
    --padding: 16px;    

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    width: min(var(--width), 100% - clamp(var(--padding), 5vw, 48px));
    gap: var(--padding);
    padding-bottom: 92px;
    place-self: center;
}

/* ------------------------------------------- */
/* Places section
/* ------------------------------------------- */

.places {
    --width: 984px;
    --padding: 24px; 

    display: grid;
    width: min(var(--width), 100% - var(--padding));
    gap: clamp(53px, 10vw, 80px);
    margin-inline: auto;
    margin-bottom: clamp(66px, 5vw, 92px)
}

.place {
    display: grid;
    grid-template-areas: 
        'title website'
        'image paragraph'
    ;
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(28px, 3vw, 40px);
    row-gap: clamp(32px, 10vw, 48px);
}

.place__title {
    grid-area: title;
    font-weight: var(--fw-black);
    font-size: clamp(32px, 12vw, var(--fs-800));
    max-width: 460px;
    line-height: 106%;
}

.place__image {
    max-width: 100%;
    grid-area: image;
    object-fit: cover;
    object-position: center;
}

.place__website {
    grid-area: website;
    align-self: end;
    justify-self: start;

    display: grid;
    gap: 12px;
}

.place__url-heading {
    font-size: var(--fs-200);
    color: var(--clr-accent);
    line-height: 100%;
    letter-spacing: 2px;
}

.place__link {
    color: inherit;
    line-height: 122%;
    opacity: .7;
    transition: opacity 150ms ease-in;
}

.place__link:hover {
    opacity: 1;
}

.paragraph-wrapper {
    grid-area: paragraph;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.place__paragraph {
    max-width: 484px;
    font-size: clamp(var(--fs-300), 2vw, var(--fs-400));
    line-height: 163%;
}

@media (max-width: 768px) {
    .places {
        --padding: 0;
    }

    .place {
        grid-template-areas: 
         'title'
         'website'
         'image'
         'paragraph'
        ;
        grid-template-columns: 1fr;
        margin-inline: auto;
    }

    .place__title,
    .place__website,
    .paragraph-wrapper {
        padding-inline: 16px;
    }

    .place__title {
        line-height: 110%;
    }
}

/* ------------------------------------------- */
/* Cover section
/* ------------------------------------------- */

.cover {
    display: grid;
    grid-template-areas: 
        'overlay'
        'overlay'
    ;
    place-items: center;
    gap: 32px;

    width: min(1184px, 100%);
    margin-inline: auto;
    margin-bottom: clamp(64px, 5vw, 92px);
    position: relative;
}

.cover::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsl(216, 6%, 17%, .3);
    z-index: var(--z-200);
}

.cover__background {
    width: 100%;
    object-fit: cover;
    grid-area: overlay;
    z-index: var(--z-100);
    position: relative;
}

.cover__title {
    grid-area: overlay;
    align-self: end;
    z-index: var(--z-300);
    font-size: var(--fs-800);
    font-weight: var(--fw-black);
    line-height: 106%;
    max-width: 560px;
    text-align: center;
    position: relative;
    grid-row: 1 / 2;
}

.cover__subtitle {
    grid-area: overlay;
    align-self: start;
    z-index: var(--z-300);
    line-height: 122%;
    position: relative;
    max-width: 360px;
    text-align: center;
    grid-row: 2 / 3;
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 32px;
        max-width: 250px;
        line-height: 109%;
    }

    .cover__subtitle {
        font-size: var(--fs-250);
        line-height: 114%;
    }
}

/* ------------------------------------------- */
/* Footer section
/* ------------------------------------------- */

.footer {
    --width: 1184px;
    --padding: 16px;

    width: min(var(--width), 100% - var(--padding));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 24px;
}

.footer__nav-list {
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: var(--fs-250);
}

.footer__link {
    cursor: pointer;
    transition: opacity 150ms ease-in;
    line-height: 112%;
}

.footer__nav-list:hover .footer__link:not(.footer__link:hover) {
    opacity: .6;
}

.footer__copyright {
    font-size: var(--fs-250);
    line-height: 114%;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    .footer__nav-list {
        flex-direction: column;
        font-size: var(--fs-500);
        gap: 32px;
    }

    .footer__link,
    .footer__copyright {
        line-height: 100%;
    }
}