/* ------------------------------------------- */
/* Reset and normalize
/* ------------------------------------------- */

@import url(../vendor/reset.css);

/* ------------------------------------------- */
/* Custom variables
/* ------------------------------------------- */

:root {
    --ff-primary: 'Inter', sans-serif;

    --bg-primary: #333;
    --clr-primary: #fff;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-900: clamp(1.5rem, 10vw, 6rem);
    --fs-800: 4.5rem;
    --fs-700: clamp(2rem, 7vw, 3.375rem);
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-250: 0.875rem;
    --fs-200: 0.75rem;
    --fs-100: 0.625rem;
}

@media (max-width: 768px) {
    :root {
        /* --fs-900: 1.5rem; */
        --fs-500: 1rem;
    }
}

/* ------------------------------------------- */
/* Utility class
/* ------------------------------------------- */

.container {
    --width: 61.5rem;
    --padding: 1rem;

    width: min(var(--width), 100% - var(--padding));
    margin-inline: auto;
}

/* ------------------------------------------- */
/* Body styling
/* ------------------------------------------- */

body {
    background-color: var(--bg-primary);
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

/* ------------------------------------------- */
/* Main section
/* ------------------------------------------- */

.main {
    display: grid;
}

/* ------------------------------------------- */
/* Header section
/* ------------------------------------------- */

.header {
    --width: 74rem;
    --padding: 1rem;

    width: min(var(--width), 100%);
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.link-container {
    display: flex;
    gap: 19px;
}

.header__lang-link {
    color: var(--clr-primary);
    text-decoration: none;
    font-size: var(--fs-500);
}

.header__lang-link[aria-selected="true"] {
    text-decoration: underline;
}

/* ------------------------------------------- */
/* Lead section
/* ------------------------------------------- */

.lead {
    --width: 61.5rem;
    --padding: 1rem;

    width: min(var(--width), 100%);
    margin-inline: auto;
    padding-bottom: clamp(4rem, 5vw, 5.75rem);
}

.lead__title {
    margin: 0;
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    text-align: center;
    padding-bottom: clamp(1rem, 3vw, 2rem);
    padding-inline: var(--padding);
}

.lead__subtitle {
    margin: 0;
    font-size: var(--fs-500);
    text-align: center;
    padding-bottom: clamp(2.5rem, 5vw, 4rem);
    padding-inline: var(--padding);
}

.lead__image {
    width: min(var(--width), 100%);
}

.lead__caption {
    font-size: var(--fs-100);
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: .5rem;
    padding-inline: var(--padding);
}

/* ------------------------------------------- */
/* Intro section
/* ------------------------------------------- */

.intro {
    --width: 61.5rem;
    --padding: 1rem;

    width: min(var(--width), 100% - var(--padding));
    margin-inline: auto;
    padding-bottom: 5.5rem;
}

.intro__title {
    margin: 0;
    padding-bottom: 2.5rem;
    font-weight: var(--fw-black);
    font-size: var(--fs-700);
}

.intro__text {
    margin: 0;
    padding-bottom: 2.0625rem;
    max-width: 690px;
    font-size: var(--fs-300);
    line-height: 163%;
}

.intro__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-200);
    line-height: 150%;
}

.intro__list-strong {
    font-weight: var(--fw-bold);
}

/* ------------------------------------------- */
/* Photo grid section
/* ------------------------------------------- */

.photo-grid {
    --width: 1184px;
    --padding: 1rem;    

    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--padding);
    max-width: fit-content;
    padding-bottom: 92px;
    place-self: center;
}

.photo-grid > * {
    max-width: 280px;
}
