.lead__title {
    margin: 0;
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    line-height: 104%;
    text-align: center;
    padding-bottom: clamp(16px, 3vw, 32px);
    padding-inline: var(--padding);
}

@media (max-width: 768px) {
    .lead__title {
        line-height: 110%;
    }
}