.lead__title {
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    line-height: 104%;
    text-align: center;

    padding: 0 var(--padding) 32px;
    margin: 0 auto;

    max-width: 720px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .lead__title {
        line-height: 110%;
        font-size: 40px;
        padding-bottom: 16px;
    }
}