.lead__image {
    padding: 0;
    display: block;
    width: min(var(--width), 100%);
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .lead__image {
        --width: 928px;
        width: min(var(--width), 100%);
    }
}