.intro {
    --width: 984px;
    --padding: 24px;

    width: min(var(--width), 100% - var(--padding));
    margin-inline: auto;
    padding-bottom: 92px;
}

@media (max-width: 1024px) {
    .intro {
        --padding: 16px;
        padding-bottom: 88px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding-bottom: 64px;
    }
}