.intro {
    padding: 0;
    --width: 984px;
    --padding: 24px;

    width: min(var(--width), 100%);
    padding-bottom: 92px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .intro {
        --width: 690px;
        padding-bottom: 88px;
        margin: 0 0 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        --width: 720px;
        padding: 0 0 88px 24px;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .intro {
        padding: 0 16px 64px;
        margin-inline: auto;
    }
}