.lead__subtitle {
    margin: 0;
    font-size: clamp(16px, 3vw, 24px);
    line-height: 120%;
    text-align: center;
    padding-bottom: clamp(40px, 5vw, 64px);
    padding-inline: var(--padding);
}

@media (max-width: 768px) {
    .lead__subtitle {
        line-height: 125%;
    }
}