.cover {
    display: grid;
    grid-template-areas: 
        'overlay'
        'overlay'
    ;
    place-items: center;
    gap: 32px;

    width: min(1184px, 100%);
    margin-inline: auto;
    margin-bottom: clamp(64px, 5vw, 92px);
    cursor: pointer;
    position: relative;
}

@media (max-width: 1024px) {
    .cover {
        gap: 16px;
    }
}