.cover {
    padding: 0;
    width: min(1184px, 100%);
    margin: 0 auto 92px;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
    }
}