.lead__caption {
    font-size: var(--fs-100);
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    width: min(var(--width), 100%);
    margin: 0 auto;
    padding: 8px 0 0;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 320px) {
    .lead__caption {
        padding-left: 16px;
    }
}