.place {
    display: grid;
    grid-template-areas: 
        'title website'
        'image paragraph'
    ;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 48px;
}

@media (max-width: 1280px) {
    .place {
        column-gap: 32px;
    }
}

@media (max-width: 1024px) {
    .place {
        column-gap: 28px;
    }
}

@media (max-width: 768px) {
    .place {
        grid-template-areas: 
         'title'
         'website'
         'image'
         'paragraph'
        ;
        grid-template-columns: 1fr;
        margin-inline: auto;
        row-gap: 32px;
    }
}