.footer {
    --width: 1184px;
    --padding: 16px;

    width: min(var(--width), 100% - var(--padding));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 0 24px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .footer {
        width: min(var(--width), 100%);
        padding-inline: 48px;
    }
}

@media (max-width: 1023px) {
    .footer {
        width: min(var(--width), 100%);
        padding-inline: 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding-inline: 16px;
    }
}